body {
  background-image: url('./images/bg-green.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.App {
  z-index: 1;
}
.logo {
  background-image: url('./images/youtube-black.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  display: block-inline;
}
.logo-header {
  font-family: 'Anton', sans-serif;
  color: #23272b;
  font-size: 60px;
}
.container {
  background-color: #E8F5E9;
  height: auto;
  border-radius: 4px;
}
form {
  width: 100%;
}
input {
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
}
input:focus {
  outline: #C8E6C9 solid 4px;
}
button {
  width: 100%;
}
.media-row {
  padding: 15px;
}
.video_list {
  list-style: none;
  padding: 0;
}
.list_item {
  border-radius: 4px;
  background-color: #C8E6C9;
  min-height: 300px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.list_item img {
  width: 100%;
}
.video_detail {
  border-radius: 4px;
  background-color: #C8E6C9;
  padding: 20px;
}
.loader {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background: url('./images/loader.svg');
  background-size: 100px 100px;
}
/* Mobiles and tablets */

@media(max-width:1024px) {
  .logo {
    display: none !important;
  }
}